:root {
    --primary: #2C74B3;
    --secondary: #c4b454;
    --accent: #144272;
    --dark: #0A2647;
    --light: #ffffff;
    --gray-overlay: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light);
}
